<div class="container">
  <a routerLink ="/"> <button type="button" class="btn">Show All</button></a>
 <a routerLink="/musicaudio"> <button type="button" class="btn">Music & Audio</button></a>
 <a routerLink="/programming"> <button type="button" class="btn">Programming & Fetch</button></a>
 <a routerLink="/business"><button type="button" class="btn">Business</button></a> 
 <a routerLink="/aiservices"><button type="button" class="btn">AI Services</button></a>
 <a routerLink="/photography"><button type="button" class="btn">Photography</button></a>
 <a routerLink="/login"><button type="button" class="btn">Login</button></a>
 <a routerLink="/signup"><button type="button" class="btn">Sign up </button></a>

  
</div>